---
- hosts: all
  gather_facts: false
  roles:
  - hello
  tasks:
  - name: "test"
    local_action: 
      module: foreman_organization
      username: "{{ satellite_login }}"
      password: "{{ satellite_password }}"
      server_url: "{{ satellite_api_url }}"
      validate_certs: 0
      name: "MyOrg"
      description: "This is my org"
      label: "omit"
      state: present
